@model eFashionShop.ViewModels.Catalog.Categories.CategoryCreateVm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm mới danh mục</h1>

<div>
    <a asp-action="Index" class="bg-light">Trở về</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoDescription" class="control-label"></label>
                <input asp-for="SeoDescription" class="form-control" />
                <span asp-validation-for="SeoDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoTitle" class="control-label"></label>
                <input asp-for="SeoTitle" class="form-control" />
                <span asp-validation-for="SeoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoAlias" class="control-label"></label>
                <input asp-for="SeoAlias" class="form-control" />
                <span asp-validation-for="SeoAlias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SortOrder" class="control-label">Thứ tự sắp xếp</label>
                <input asp-for="SortOrder" class="form-control" />
                <span asp-validation-for="SortOrder" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsShowOnHome" /> Hiển thị trên web
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label">Danh mục cha: </label>
                <select asp-for="ParentId" name="ParentId">
                    @if (ViewBag.ListCategoryParent != null)
                    {
                        foreach (var item in ViewBag.ListCategoryParent)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }

                </select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                @Html.DropDownList("Status", new List<SelectListItem>
                {
                new SelectListItem{ Text="Hoạt động", Value = "Active" },
                new SelectListItem{ Text="Không hoạt động", Value = "InActive" },
                })
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


